@mixin heart{
    font-weight: 800;
    animation:  bounce-out-zoomin 1200ms ease-in-out ;
    background: -webkit-gradient(linear, right bottom, right top, from($secondary-color), to($primary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}