$primary-color: #9356DC; 
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$footer_bg-color: #353535;
$footer_txt-color: #ffffff;
$bg-color: red; 
$bg-color--darken: #eaeaea; 
$icone-color: #7e7e7e;
