.loading {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.646);
    animation: awhite 2s both;
}
.spinner {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    height: 65px;
    width: 65px;
    border: 10px double $tertiary-color;
    border-top-color: $primary-color;
    border-bottom-color: $secondary-color;
    border-radius: 100%;
    animation: loading 2s linear both;
  }


.reservation {
    background-color: $bg-color;
    text-align: center;
    padding-bottom: 10%;
    h2, p {
    padding: 0 10%;
    }
}

.localisation {
    background: linear-gradient(darken($bg-color,15) 1%, darken($bg-color,4) 8%);
    text-align: center;
    padding: 5% 0 5% 0;
}

.search {
    text-align: center;
    width: 35%;
    border-style: none;
    background-color: darken($bg-color, 4);
    font-family: 'Roboto';
    font-weight: bold;
    font-size: large;
    
}


.fonctionnement {
    padding: 10%;
}


ol {
    list-style: none;
    counter-reset: item;
    li {
        counter-increment: item;
        background-color: $bg-color;
        border-radius: 20px;
        padding: 20px 20px 20px 10px;
        margin:  20px 0;
        box-shadow: 0 5px 5px darken($bg-color,15);
        &:hover{
            background-color: adjust-color($primary-color,  $saturation: 34%, $lightness: 36%);
            > .fa-solid{
                color: $primary-color;
            }
        }
        .fa-solid {
            color: $icone-color;
        }
        .fa-solid:hover {
            color: $primary-color;
        }
        &:before {
            content: counter(item);
            background: $primary-color;
            border-radius: 100%;
            color: white;
            width: 1.2em;
            text-align: center;
            display: inline-block;
            position: relative;
            left: -20px;
            font-weight:500;
            font-size: small;
            padding: 3px;
        }
    }
}


.restaurants{
    background-color: $bg-color;
    padding-top: 20px;
    padding-bottom: 60px;
    h2{
    padding-left: 10%;
    }
    &_cards > div{
        width: 330px;
        margin: auto;
        padding: 20px 0 0 0;
        box-shadow: 0 5px 5px darken($bg-color,15);
        border-radius: 50px 50px 20px 20px;
        height: 250px;
    }
    &_cards > a{
        height: 210px;
    }
}

.under-img{
    height: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-between; /*horizontal*/
    align-items: center; /*vertical*/
    a{
        flex: 1;
    }

    h3, p{
        margin: 0;
        padding-top: 5px;
    }
    &_icon button{
        background: none;
        border: none;
    }
}

img{
    border-radius: 20px 20px 0 0;
    vertical-align: middle; /*pour coller l'img à la div qui suit, fonctionne aussi avec la valeur top et bottom, sinon il y a un espace*/
    object-fit: cover;
    object-position: bottom;
}
.image{
    position: relative;
    &_center{
        object-position: 80% 60%; 
        &--header{ 
        width: 380px;
        object-position: 80% 50%; 
        }
    }
    
}

.new{
    background-color: $tertiary-color;
    color: adjust-color($tertiary-color,  $saturation: 44%, $lightness: -48%);
    font-weight: 500;
    font-family: 'Roboto';
    padding: 5px 10px;
    display: block;
    width: fit-content;
    position: absolute;
    top: 15px;
    right: 15px;
}


@media only screen and (min-width: 921px){ //laptop&desktop avt769
    body header h1 {
        
        font-size: 20px;
    }

    .reservation{
        padding-bottom: 30px;
        .localisation{
            padding: 10px;
            .search{
                text-align: left;
                width: 150px;
            }
        }
        p, h2{
            margin: 10px;
        }
    }

    .fonctionnement{
        padding: 0;
        margin: 0;
        h2{
            text-align: center;
            margin: 10px;
        }
        ol{
            display: flex;
            justify-content: center;
            margin: 10px;
            li{
                height: 50px;
                //width: 25%;
                text-align: center;
                margin: 10px;
                padding-top: 30px;
                display: flex;
                align-content: space-between;
                align-items: baseline;
                font-size: x-large;
                width: 25vw;
                &::before{
                    font-size: large;
                    left: 50%;
                    top: -50px;
                }
                i{
                    font-size: xx-large;
                    top: 10%;
                    position: relative;
                    padding-right: 30px;
                }
            }
        }
    }

    .restaurants{
        h2{
            text-align: center;
            margin: 10px;
            padding: 0;
        }
        &_cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            &>div{
                margin: 10px 0; 
                flex-basis: 40%;
                height: 350px;
                img{
                    width: 100%;
                    height: 250px;
                }
                .under-img{
                    height: 80px;
                    h3{
                        font-size: x-large;
                    }
                    p{
                        font-size: larger;
                    }
                }
            }
        }

    }


    footer{
        text-align: center;
        padding: 10px 0 20px 0;
    }
}


@media only screen and (min-width: 650px) and (max-width: 920px){ //tablet avt769


    body header h1 {
        
        font-size: 30px;
    }


    .reservation{
        padding-bottom: 50px;
        .localisation{
            padding: 0;
            i{
                font-size: 20px;
                position: relative;
                left: 50px;
            }
            input{
                padding-bottom: 10px;
                font-size: 20px;
                text-align: left;
                position: relative;
                left: 50px;
                margin-top: 10px;
                padding-top: 0;

            }
        }
        h2{
            font-size: xx-large;
        }
        p{
            top: -50px;
        }
        input{
            padding: 10px 20px ;
            font-size: x-large;
        }
    }

    .fonctionnement{
        padding: 0;
        h2{
            text-align: center;
            font-size: xx-large;
        }
        ol{
            display: flex;
            justify-content: space-evenly;
            font-size: 20px;
            li{
                width: 20vw;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                text-align: center;
                padding-bottom: 30px;
                &::before{
                    font-size: 50px;
                    position: relative;
                    left: 30%;
                    top: -50px;
                }
                i{
                    font-size: 100px;
                    align-self: center;
                    position: relative;
                    left: -30px;
                    top: -30px;
                }
                
            }
        }
    }

    .restaurants{
        h2{
            text-align: center;
            font-size: xx-large;
        }
        &_cards{
            display: flex;
            flex-direction: row;
            > div{
                width: 22vw;
                font-size: small;
                img{
                    width: 100%;
                }
            }

        }
    }

    footer{
        text-align: center;
        padding-bottom: 30px;
        font-size: x-large;
        .footer_title{
            font-size: xx-large;
        }
        i{
            padding-right: 10px;
        }
    }
}



