header{
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    i{
        flex:3;
        font-size: large;
        margin-left: 20px;
    }
    h1{
        flex:2;
        margin: 10px 30px 10px 0;
        font-size: x-large;
    }
}

.menu{
    width: 100%;
    background-color: $bg-color;
    border-radius: 50px 50px 0 0;
    position: absolute;
    z-index: 2 ; margin-top: -50px;
    > div {
        margin: 30px 10px;
    }
    &_img{
        z-index: 1 ;
        border-radius: 0 0 0 0;
        width: 100vw;
        height: 350px;
        object-position: 30% 20%;
    }
    &_header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 0;
    }
    h1{
        padding-top: 10px;
        text-align: left;
        padding-left: 10px;
        font-size:x-large;
        font-weight: 400;
    }
    h4{
        width: 40px;
        border-bottom: 3px solid $tertiary-color;
    }
    .fa-heart{
        color: $bg-color;
    }
}

.fa-check-circle{
    color: white;
    font-size: x-large;
}

.choix{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    margin: 10px 0;
    box-shadow: 0 5px 5px darken($bg-color,15);
    &_txt{
        flex: 3;
        overflow: hidden;
        text-overflow:ellipsis; 
        white-space: nowrap;
        h3{
            margin: 15px 0 5px 15px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            margin: 5px 0 15px  15px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &_prix{
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        padding: 0 20px;
        p{
            margin-bottom: 10px;
         }
    }
    &_check{
        display: none;
        padding: 0 20px;
        background-color: $tertiary-color;
        border-radius: 0 20px 20px 0;
        //animation: check_apparition 500ms reverse;
    }
    &:hover{
        cursor: pointer;
    }
    &:active {
        &>.choix_check{
            display: initial;
            display: flex;
            align-items: center;
            //transform: scaleX(1);transition: transform 900ms ease-in-out;
            animation: check_apparition  1s both;
            transform-origin: 100% 50%; 
        }
        i{
            animation: check_rotation   1s ease-in-out;
        }
    }

}




.entrees div:nth-child(2), .plat  div:nth-child(2), .desserts div:nth-child(2){
    animation: menu_apparition 1000ms  both;
}

.entrees div:nth-child(3), .plat div:nth-child(3), .desserts div:nth-child(3){
    animation: menu_apparition 1000ms 300ms both;
}
.entrees div:nth-child(4), .plat div:nth-child(4), .desserts div:nth-child(4){
    animation: menu_apparition 1000ms 600ms both ;
}
.entrees div:nth-child(5), .plat div:nth-child(5), .desserts div:nth-child(5){
    animation: menu_apparition 1000ms 900ms both ;
}


@media screen and (min-device-width: 992px){
    .menu{
        &_header{
            flex-direction: column;
            align-items: center;}
        >div h4{
            text-align: center;
        }
        &_img{
            object-position: 0 70%;
        }
    }

        .image_center{
            object-position: 0 60%;

        }

    .choix:hover {
        &>.choix_check{
            display: initial;
            display: flex;
            align-items: center;
            //transform: scaleX(1);transition: transform 900ms ease-in-out;
            animation: check_apparition 1s both;
            transform-origin: 100% 50%; 
        }
        i{
            animation: check_rotation  1s ease-in-out;
        }
    }
}