.btn {
    background-image: linear-gradient(175deg, $secondary-color, $primary-color);
    color: white;
    border-style: none;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 5px 5px darken($bg-color,15);
    transition: box-shadow 550ms, filter  550ms;
    &:hover{ 
        filter: brightness(110%);
        box-shadow: 0 5px 5px darken($bg-color,40);
        cursor: pointer;
    }
}

.menu .btn_commande{
    text-align: center;
    margin: 50px 0 70px 0;
    input{
        width: 150px;
        height: 40px;
    }
}