//.under-img_icon{    color: black;}

.fa-heart{
    
    -webkit-text-fill-color: black;
    padding-right: 10px;
    font-size: x-large;
    &:hover{
        cursor: pointer;
    }
    //color: white;
    //text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    //transition: color 500ms;
    // &:active{
    //     font-weight: 800;
    //     animation: heart 700ms ease-in-out both;
    //     background: -webkit-gradient(linear, right bottom, right top, from($secondary-color), to($primary-color));
    //     background-clip: text;
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    //     cursor: pointer;
    // }
    // &:visited{
        
    //     background: -webkit-gradient(linear, right bottom, right top, from($secondary-color), to($primary-color));
    //     color: blue;
    // }
}




#heart {
    display: none;
    &:hover + label i{
        animation: shake-top 900ms ease-in-out infinite both;
    }
    &:checked + label i{
    font-weight: 800;
    animation:  bounce-out-zoomin 1200ms ease-in-out ;
    background: -webkit-gradient(linear, right bottom, right top, from($secondary-color), to($primary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;}
}
#heart1 {
    display: none;
    &:hover + label .i_heart1{
        animation: shake-top 1000ms linear infinite both;
    }
    &:checked + label .i_heart1{
    font-weight: 800;
    animation:  bounce-out-zoomin 1200ms ease-in-out ;
    background: -webkit-gradient(linear, right bottom, right top, from($secondary-color), to($primary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;}
}
#heart2 {
    display: none;
    &:hover + label .i_heart2{
        animation: shake-top 1000ms linear infinite both;
    }
    &:checked + label .i_heart2 {
    font-weight: 800;
    animation:  bounce-out-zoomin 1200ms ease-in-out ;
    background: -webkit-gradient(linear, right bottom, right top, from($secondary-color), to($primary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;}
}
#heart3 {
    display: none;
    &:hover + label .i_heart3{
        animation: shake-top 1000ms linear infinite both;
    }
    &:checked + label .i_heart3 {
    font-weight: 800;
    animation:  bounce-out-zoomin 1200ms ease-in-out ;
    background: -webkit-gradient(linear, right bottom, right top, from($secondary-color), to($primary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;}
}
#heart4 {
    display: none;
    &:hover + label .i_heart4{
        animation: shake-top 1000ms linear infinite both;
    }
    &:checked + label .i_heart4 {
    font-weight: 800;
    animation:  bounce-out-zoomin 1200ms ease-in-out ;
    background: -webkit-gradient(linear, right bottom, right top, from($secondary-color), to($primary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;}
}



/*.fa-heart{
    padding-right: 10px;
    font-size: x-large;
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    transition: color 500ms;
    &:hover{
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        -moz-background-clip: text;
        background-image: linear-gradient($secondary-color, $primary-color);
    
        
        cursor: pointer;
    }
}*/

















/*.fa-heart{
    padding-right: 10px;
    font-size: x-large;
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    transition: color 500ms;
    &:hover{
        @include degrade;
        cursor: pointer;
    }
}*/